{% extends 'base.html.twig' %}
{% block body %}
{% if products is not empty %}
<div class="container">
   <div class="row">
    {% for product in products %}
        <div class="col-sm-4">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">{{ product.getName() }} - v.{{ product.getVersion() }}</div>
              <div class="card-body">
                <p class="card-text">{{ product.getDescription() }}</p>
              </div>
              <div class="card-footer">
              	<a href="{{ path('product_detail', {id: product.getId()})}}">
                  	<button class="btn btn-block btn-success">
                  		Details
                  	</button>
              	</a>
              </div>
		  </div>
        </div>
     {% endfor %}
   </div>
</div>
{% else %}
<p>{{ 'LIST.NOT.PRODUCT' }}</p>
{% endif %}

{% endblock %}