<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'HEADER.PROJECT.MANAGER' | trans }}</a>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">
            	{{ 'HEADER.HOME' | trans }}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'HEADER.USER' | trans }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              	<a class="nav-link" href="{{ path('logout') }}">{{ 'HEADER.LOGOUT' | trans }}</a>
              {% else %}
              	<a class="nav-link" href="{{ path('login') }}">{{ 'HEADER.LOGIN' | trans }}</a>
              	<div class="dropdown-divider"></div>
              	<a class="nav-link" href="{{ path('user_register') }}">{{ 'HEADER.REGISTER' | trans }}</a>
              {% endif %}
            </div>
          </li>
          {% if is_granted('ROLE_ACTIVE') %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ path('product_add') }}">{{ 'HEADER.ADD.PRODUCT' | trans }}</a>
              </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'HEADER.LANGUAGE.TITLE' | trans }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" href="{{ path(app.request.attributes.get('_route'), {'_locale' : 'fr'}) }}">{{ 'HEADER.LANGUAGE.FIRST' | trans }}</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link" href="{{ path(app.request.attributes.get('_route'), {'_locale' : 'en'}) }}">{{ 'HEADER.LANGUAGE.SECOND' | trans }}</a>
            </div>
          </li>
          {% if is_granted('ROLE_ACTIVE') %}
              <li class="nav-item active">
              	<a class="nav-link" href="{{ path('product_list') }}">{{ 'HEADER.LIST.PRODUCT' | trans }}</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
</div>
